<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118286158834-bcb5js5ar6oj8de59ui17jqvqn984so7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118286158834-bcb5js5ar6oj8de59ui17jqvqn984so7</string>
	<key>API_KEY</key>
	<string>AIzaSyCh6Lbh6sYZ4LBcW1MIrdyFDWI_Wp5OHKE</string>
	<key>GCM_SENDER_ID</key>
	<string>118286158834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tung.CafeTek</string>
	<key>PROJECT_ID</key>
	<string>cafetek-36da7</string>
	<key>STORAGE_BUCKET</key>
	<string>cafetek-36da7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118286158834:ios:f7fac5836188c80fd1f96b</string>
	<key>DATABASE_URL</key>
	<string>https://cafetek-36da7.firebaseio.com</string>
</dict>
</plist>